<p id="notice"><%= notice %></p>

<h1>Users</h1>
<%= will_paginate %>
<div class="col-md-4"></div>
<div>
<table>


  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= gravatar_for user, size: 50 %></td>
        <td><%= user.name %></td>
        
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td> <% if current_user.admin? && !current_user?(user) %>
              | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
</div>
<div class="col-sm-4"></div>
<br>
