<div class="col-sm-2"></div>
<div class="col-sm-8">
<div class="content-status">
<p class="avatar-user"><%= link_to gravatar_for(@micropost.user, size: 50), @micropost.user %><%= link_to @micropost.user.name ,@micropost.user%> <%= time_ago_in_words(@micropost.created_at) %> trước. </p>
<p><%= @micropost.content %></p>
 <%= image_tag @micropost.picture.url if @micropost.picture? %>
</div>
<% if logged_in? %>
<%= form_for([@micropost, @micropost.comments.build]) do |f| %>
 <%= f.text_area :content %>
 <div class="sub-comment"><%= f.submit "Comment", class: 'btn btn-success subm-comment pull-right' %></div>
 <% end %>
  <strong id="followers" class="stat">
      <%= @comments.count %> comments
  </strong>
 <% @comments.each do |f| %>
<p><%= link_to gravatar_for(f.user, size: 20) %><strong class="username-comment"><%= f.user.name %></strong>  <%= f.content %>  
<% if current_user?(f.user) %>   
  <i class="glyphicon glyphicon-trash i-delete"><%= link_to "Xóa",[f.micropost, f], method: :delete %></i></p>
	<% end %>
<% end %>
 <% else %>
<%= form_for([@micropost, @micropost.comments.build]) do |f| %>
 <%= f.text_area :content %>
<%= link_to "Comment" ,login_path%>
 <% end %>
 <strong id="followers" class="stat">
      <%= @comments.count %> comments
  </strong>
 <% @comments.each do |f| %>
<p><%= link_to gravatar_for(f.user, size: 20) %><strong class="username-comment"><%= f.user.name %></strong>  <%= f.content %>     
<% if logged_in? %>   
<%= link_to "Xóa",[f.micropost, f], method: :delete %></p>
	<% end %></p>
	
<% end %>
</div>		
 <% end %>
</div>